.login {
   background-color: #4B5D67;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px 20px;
  min-height: calc(100vh - 200px);
  /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

.login__container {

  background-color: #4B5D67;
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 60px 68px 40px;
}

.login__container--form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.login__container--form input{
  width: 100%;
}

.login__container--form label {
  font-size: 14px;
}
.login__container--default {
  color :white
}

.login__container--social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > div {
    font-size: 14px;
    margin-bottom: 10px;
  }
  & > div > img {
    width: 30px;
    padding: 0px 5px;
    margin: 5px 0px;
    align-self: center;
    justify-self: center;
  }
  & > div > p {
    margin: 10px 0px;
  }
  & a {
    color: #ffffff;
    text-decoration: none;
  }
}
.google__img,
.twitter__img,
.facebook__img {
  border-right: 1px dashed #ffffff4d;
}
.google {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: #db4437;
  border-radius: 5px;
  width: 250px;
}
.twitter {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: #00acee;
  border-radius: 5px;
  width: 250px;
}
.facebook {
  display: grid;
  grid-template-columns: 50px 1fr;
  background-color: #29487d;
  border-radius: 5px;
  width: 250px;
}
.login__container--register {
  font-size: 14px;
  text-align: center;
  & a {
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  & a:hover {
    text-decoration: underline;
  }
}

.login__container__title {
  margin: 0;
}
